<header class="header">
  <nav class="header__navigation">
    {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </nav>
</header>

{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 ) }} <span class="header__arrow">&gt;</span>
  {{ else if not .p1.IsHome }}
    {{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 ) }}
  {{ end }}
  <a class="link" href="{{ .p1.Permalink }}">
    {{ if (isset .p1.Params "atype") }}
      {{.p1.Params.atype }}: {{.p1.Title}}
    {{ else }}
      {{.p1.Title}}
    {{ end }}  
  </a>
{{ end }}
